.project-info-trigger {
	color:red;
}

.popover-content {
	max-height:300px;
	overflow:hidden;
	text-overflow: ellipsis;
}

.left-arrow {
	margin-top:3px;
	margin-right:0px;
	margin-left:10px;
	width:0;
	height:0;
	border-top:12px solid transparent;
	border-bottom:12px solid transparent;
	border-right:12px solid #b94a48;
}

.right-arrow {
	margin-top:3px;
	margin-right:0px;
	margin-left:10px;
	width:0;height:0;
	border-top:12px solid transparent;
	border-bottom:12px solid transparent;
	border-left:12px solid #468847;
}

.arrow {
	width:20px;
	height:20px;
}

.map {
	width:280px;
	height:100px;
	margin-top:-10px;
	margin-left:-10px;
	padding:0;
}

.popover-content {
	border-top:1px solid #999;
	padding:0 !important;
}

.popover-content-container {
	border-top:1px solid #999;
	padding:10px;
}
