.left-arrow {
	margin-top:3px;
	margin-right:0px;
	margin-left:10px;
	width:0;
	height:0;
	border-top:12px solid transparent;
	border-bottom:12px solid transparent;
	border-right:12px solid #b94a48;
}

.right-arrow {
	margin-top:3px;
	margin-right:0px;
	margin-left:10px;
	width:0;height:0;
	border-top:12px solid transparent;
	border-bottom:12px solid transparent;
	border-left:12px solid #468847;
}

.arrow {
	width:20px;
	height:20px;
}

address a {
	text-shadow: none;
}

.map {
	width:280px;
	height:100px;
	margin-top:-10px;
	margin-left:-10px;
	padding:0;
}

.popover-content {
	border-top:1px solid #999;
	padding:0 !important;
}

.popover-content-container {
	border-top:1px solid #999;
	padding:10px;
}

[data-iati] {
    color:red;
}

.popover-content {
    max-height:300px;
    overflow:hidden;
    text-overflow: ellipsis;
}


.popover-content-container:after { 
    content:"";
    position: absolute;
    bottom: 0; left: 0;
    width: 90%;
    text-align: center;
    margin: 0px 0px 8px 10px;
    padding: 30px 0; 

    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(97%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 97%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 97%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 97%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 97%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.transactions-table .td0 { width:45%; }
.transactions-table .td1 { width:10%; }
.transactions-table .td2 { width:45%; }
