<script type="text/html" id="projectRetrieve">
PREFIX dc: <http://purl.org/dc/elements/1.1/>
PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX iati: <http://tools.aidinfolabs.org/linked-iati/def/iati-1.01#>
PREFIX activity: <http://data.kasabi.com/dataset/iati/activity/>

SELECT * WHERE { 
  activity:<%= project_id %> dc:title ?title;
                       dc:description ?description.
  activity:<%= project_id %> iati:relatedActivity ?relatedPlaceHolder.
  ?relatedPlaceHolder owl:sameAs ?related.
}
</script>

<script type="text/html" id="transactionsRetrieve">
PREFIX dc: <http://purl.org/dc/elements/1.1/>
PREFIX iati: <http://tools.aidinfolabs.org/linked-iati/def/iati-1.01#>
PREFIX activity: <http://data.kasabi.com/dataset/iati/activity/>

SELECT * WHERE { 
  activity:<%= project_sub_id %> iati:transaction ?transaction.
  
  ?transaction iati:transactionIsoDate ?date;
               iati:value ?value;
               dc:description ?description.
}
</script>
